#map {
    height:100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri, Arial, Roboto;
    margin: 0;
}

#typeFilterContainer {
    position: absolute;
    top: 0 !important;
    z-index: 1000;
    background: white;
    padding: 5px;
    border-radius: 5px;
    width: 311px;
    height: 160px;
    margin: auto;
    margin-right: 17px;
    right: 0 !important;
    padding: 0 !important;
    font-size: 12px;
    opacity: 0.9;
}

th {
    text-align: left;
}

div#typeFilterContainer > * {
    margin: 8px;
}

table {
    margin-top: 160px;
}

h2 {
    font-size: 14px;
}

#info {
    height: 100vh;
    float: right;
    overflow: auto;
    width: 311px;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    right: 0;
    position: fixed;
    z-index: 440;
    background: white;
    transition: .5s height ease;
    opacity: 0.9;
}

button#resetRegionBtn {
    background: #96bf9a;
    border: none;
    padding: 8px;
    color: white;
    transition: .3s all;
    cursor: pointer;
}

button#resetRegionBtn:hover {
    background: white;
    border: none;
    padding: 8px;
    color: #96bf9a;
    transition: .3s all;
    cursor: pointer;
    outline: 1px solid #96bf9a;
}

button#toggleInfoBtn:hover {
    background: white;
    border: none;
    padding: 8px;
    color: #00753B;
    transition: .3s all;
    cursor: pointer;
    outline: 1px solid #00753B;
}

div#nombreElements {
    max-width: 120px;
}

button#toggleInfoBtn {
    background: #00753B;
    border: none;
    padding: 8px;
    color: white;
    transition: .3s all;
    cursor: pointer;
    right: 48px;
    position: inherit;
    top: 80px;
}