#map {
    height:100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

#typeFilterContainer {
    position: absolute;
    top: 0 !important;
    z-index: 1000;
    background: white;
    padding: 5px;
    border-radius: 5px;
    width: 311px;
    height: 160px;
    margin: auto;
    margin-right: 17px;
    right: 0 !important;
    padding: 0 !important;
    font-size: 12px;
    opacity: 0.9;
}

th {
    text-align: left;
}

div#typeFilterContainer > * {
    margin: 8px;
}

table {
    margin-top: 160px;
}

h2 {
    font-size: 14px;
}

#info {
    height: 100vh;
    float: right;
    overflow: auto;
    width: 311px;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    right: 0;
    position: fixed;
    z-index: 440;
    background: white;
    transition: .5s height ease;
    opacity: 0.9;
}